<!DOCTYPE html>

<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
		<script src="/js/app.js"></script>
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<img src="/img/nico.png" alt="prtrait of Nicolas Chapon" class="portrait" />
		</div>
        {{>footer}}
	</body>
</html>
